<div id='grid-toolbar'>
<div><button id='button-new-plan'>New Plan</button> <a id='display-columns' href='#'>display columns</a></div>
</div>
<div id='gridheader'>
<table>
<thead></thead>
</table>
</div>
<div id='gridbody'>
<table>
<thead></thead>
<tbody></tbody>
</table>
</div>

<div id='dialog-plans' class='CRHidden'>
<form class='input-form'>
<input type='hidden' name='_METHOD' value='POST'>
<input type='hidden' name='id' value='0'>
<input type='hidden' name='stage' value='0'>
<table>
<tbody>
<tr id='row-idaction'><td><label for='plans-idaction'>Action</label></td>
<td>
<select id='plans-idaction' name='idaction' class='monitor'>
</select>
</td></tr>
<tr id='row-plan'><td><label for='plans-plan'>Name</label></td><td><input type='text' id='plans-plan' name='plan' size='50'></td></tr>
<tr id='row-type'><td><label for='plans-type'>Type</label></td>
<td>
<select id='plans-type' name='type'>
<option value='1'>Letter</option>
<option value='2'>NaviPlan</option>
<option value='3'>Confident Retirement</option>
</select>
</td></tr>
<tr id='row-due_date'><td><label for='plans-due_date'>Due Date</label></td><td><input type='text' id='plans-due_date' name='due_date' class='date'></td></tr>
<tr id='row-office_due'><td><label for='plans-office_due'>Office Due Date</label></td><td><input type='text' id='plans-office_due' name='office_due' class='date'></td></tr>
<tr id='row-idadvisor'><td><label for='plans-idadvisor'>Advisor</label></td>
<td>
<select id='plans-idadvisor' name='idadvisor'>
</select>
</td></tr>
<tr id='row-idemployee'><td><label for='plans-idemployee'>Preparer</label></td>
<td>
<select id='plans-idemployee' name='idemployee'>
</select>
</td></tr>
<tr id='row-fee'><td><label for='plans-fee'>Fee to Client</label></td><td><input type='text' id='plans-fee' name='fee'></td></tr>
<tr id='row-balance_due'><td><label for='plans-balance_due'>Balance due from Client</label></td><td><input type='text' id='plans-balance_due' name='balance_due'></td></tr>
<tr id='row-data_request'><td><label for='plans-data_request'>Data request sent to client</label></td><td><input type='text' id='plans-data_request' name='data_request' class='date'></td></tr>
<tr id='row-data_received'><td><label for='plans-data_received'>Data received by client</label></td><td><input type='text' id='plans-data_received' name='data_received' class='date'></td></tr>
<tr id='row-data_sent'><td><label for='plans-data_sent'>Data sent to Arcadia</label></td><td><input type='text' id='plans-data_sent' name='data_sent' class='date'></td></tr>
<tr id='row-data_acknowledged'><td><label for='plans-data_acknowledged'>Data received by Arcadia</label></td><td><input type='text' id='plans-data_acknowledged' name='data_acknowledged' class='date'></td></tr>
<tr id='row-comments'><td><label for='plans-comments'>Comments</label></td><td><input type='text' id='plans-comments' name='comments'></td></tr>
</tbody>
</table>
</form>
</div>