<div id='grid-toolbar'>
<div><button id='button-new-plan'>New Plan</button> <a id='display-columns' href='#'>display columns</a></div>
</div>
<div id='gridheader'>
<table>
<thead></thead>
</table>
</div>
<div id='gridbody'>
<table>
<thead></thead>
<tbody></tbody>
</table>
</div>

<div id='dialog-plans' class='CRHidden'>
<form class='input-form'>
<input type='hidden' name='_METHOD' value='POST'>
<input type='hidden' name='id' value='0'>
<input type='hidden' name='stage' value='0'>
<table>
<tbody>
<tr id='row-idaction'><td><label for='plans-idaction'>Action</label></td>
<td>
<select id='plans-idaction' name='idaction' class='monitor'>
</select>
</td></tr>
<tr id='row-plan'><td><label for='plans-plan'>Name</label></td><td><input type='text' id='plans-plan' name='plan' size='50'></td></tr>
<tr id='row-type'><td><label for='plans-type'>Type</label></td>
<td>
<select id='plans-type' name='type'>
<option value='1'>FAL</option>
<option value='2'>Navi</option>
</select>
</td></tr>
<tr id='row-due_date'><td><label for='plans-due_date'>Due Date</label></td><td><input type='text' id='plans-due_date' name='due_date' class='date'></td></tr>
<tr id='row-office_due'><td><label for='plans-office_due'>Office Due Date</label></td><td><input type='text' id='plans-office_due' name='office_due' class='date'></td></tr>
<tr id='row-idadvisor'><td><label for='plans-idadvisor'>Advisor</label></td>
<td>
<select id='plans-idadvisor' name='idadvisor'>
</select>
</td></tr>
<tr id='row-idemployee'><td><label for='plans-idemployee'>Preparer</label></td>
<td>
<select id='plans-idemployee' name='idemployee'>
</select>
</td></tr>
<tr id='row-comments'><td><label for='plans-comments'>Comments</label></td><td><input type='text' id='plans-comments' name='comments'></td></tr>
</tbody>
</table>
</form>
</div>