<form>
<input type="hidden" name="name" value="default">
<table>
<tr><td><label for="preferences-duedays">Default days until plan is due</label></td><td><input type="text" id="preferences-duedays" name="duedays" value="<%= duedays%>"></td></tr>
<tr><td><label for="preferences-feeddays"></label>Number of days in feed</td><td><input type="text" id="preferences-feeddays" name="feeddays" value="<%= feeddays%>"></td></tr>
<tr><td><label for="preferences-reddays">Days before due highlighted red</label></td><td><input type="text" id="preferences-reddays" name="reddays" value="<%= reddays%>"></td></tr>
</table>
</form>
