{% extends "base.html" %}
{% set page = 'feed' %}

{% block body %}
{% endblock %}  

{% block bodyscript %}
<script>
require(['jquery','views/feed', 'collections/feed', 'text!templates/feed.html'], function($,FeedView, FeedCollection, FeedTemplate){
  $(function() {
  	var collection = new FeedCollection();
  	collection.setDisplayFields([
  	{field:'updated_at', header:'Date/Time'},
  	{field:'plan', header:'Plan'},
  	{field:'due_date', header:'Due'},
  	{field:'updater', header:'Action By'},
  	{field:'actionname', header:'Action'},
  	{field:'stage', header:'Stage'},
  	{field:'comments', header:'Comments'}
  	]); 
    
  	new FeedView({
    	collection: collection,
    	template: FeedTemplate
	});
  
  });
});
</script>
{% endblock %}
