{% set docroot = app.config('docroot') %}
{% set loggedin = app.config('user').isLoggedIn() %}
{% set isadmin = app.config('user').isAdmin() %}
{% set isadvisor = app.config('user').isAdvisor() %}
{% set isemployee = app.config('user').isEmployee() %}
<!DOCTYPE HTML>
<html>
<head>
	<title>Arcadia Reports{% block title %}{% endblock %}</title>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Expires" CONTENT="-1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="{{docroot}}/css/normalize-css/normalize.css">
	<link rel="stylesheet" href="{{docroot}}/css/main.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  {% block style %}
  {% endblock %}
 <script>  
  var require = {
	baseUrl: '{{docroot}}/js',

  paths: {
    jquery: 'libs/jquery/jquery-1.10.2',
    jqueryui: 'libs/jquery/jquery-ui-1.10.3.custom',
    jquerycookie: 'libs/jquery-cookie/jquery.cookie',
    underscore: 'libs/underscore/underscore-min',
    backbone: 'libs/backbone/backbone',
    text: 'libs/require/text'
	
	// storage has built in support for requirejs
    // hence, it doesn't need to configured in 'shim'
    //storage: 'libs/backbone/backbone.localStorage',    
  },
  shim: {
  	underscore: {
      exports: '_'
    },
    backbone: {
      deps: [ 'underscore', 'jquery' ],
      exports: 'Backbone'
    },
    jqueryui: {
	    deps: ['jquery']
    }
  }  
}
</script>
<script src="{{docroot}}/js/util/proto.js"></script>
<script data-main="{{docroot}}/js/main.js" src="{{docroot}}/js/libs/require/require.js"></script>
<script>
require(['jquery'], function($) {
$(document).ready(function() {
	$('div.body,#CRBody').width($(window).width()-80);
	
	$(window).resize(function() {
		$('div.body,#CRBody').width($(window).width()-80);
	});
});
});
</script>
{% block headscript %}
{% endblock %}
</head>
<body class="claro">
<div class="body">
	<div id="CRDocument">
		<div id="CRHeader">
			{% block header %}
			{% endblock %}  
		</div>
		<div id="CRMainNav" class="CRNav">
			<span class="CRFloatLeft">
			{% block admin_nav %}
			{% include "admin_nav.html" %}
			{% endblock %}
			</span>
			<span class="CRFloatRight">
			{% block nav %}
			{% include "nav.html" %}
			{% endblock %}
			</span>
		</div>
		<div id="CRBody">
			{% block body %}
			{{docroot}}
			{% endblock %}  
		</div>
		<div id="CRFooter">
			{% block footer %}
			deliverables for the advanced financial planner
			{% endblock %}
		</div>
	</div>
</div>
{% block bodyscript %}
{% endblock %}
</body>
</html>